html, body {
  margin: 0;
  display: grid;
  height: 100%;
  background-color: white;
  color: black;
}

body a:link {
        color: gray;
}

body a:visited {
  color: gray;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a:link {
  color: white;
}

.dark-mode a:visited {
  color: white;
}

.navigation {
  padding-top: 5px;
  margin: auto;
  position: relative;
  font-size: 50%
}

.navigation .mode-toggle {display:inline-block;}
.navigation .another-toggle {display:inline-block;}
.navigation .separator {display:inline-block;}
.navigation .code-link {display:inline-block; margin-right: 10px;}

.name {    
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: auto;
  text-align: center;
  font-family: 'Liberation Sans';
  font-size: 200%;
}

