<html>
  </head>
    <script>
      function Dark() {
        var element = document.body;
        var link_container = document.getElementsByClassName("mode-toggle");
        var link = link_container[0].getElementsByTagName("a")[0];
        element.classList.toggle("dark-mode");
        if (link.innerHTML === "Dark Mode") {
          link.innerHTML = "Light Mode";
        } else {
          link.innerHTML = "Dark Mode";
        }
      }

      function Refresh() {
        location.reload();
      }
    </script>
    <meta charset="utf-8">
    <title>Bendystraw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
      <div class="name">
        <span>{{ name }}</span>
        <div class="navigation">
          <span>
            <div class="another-toggle"><a href="#" onclick="Refresh();">Another</a></div>
            <div class="separator">|</div>
            <div class="mode-toggle"><a href="#" onclick="Dark();">Dark Mode</a></div>
            <div class="separator">|</div>
            <div class="code-link"><a href="https://gitlab.com/kathamer/bendystraw">Source Code</a></div>
          </span>
        </div>
      </div>
  </body>
</html>


